.catalog__title
{
  width: 400px;
  font-family: $font-family-bold;
  color: $main-color-text;
  line-height: 36px;
  font-size: 32px;
  letter-spacing: 0.01em;
  position: relative;
  bottom: 100px;
  left: 70px;
}

.catalog__title sup
{
  line-height: 20px;
  font-size: 18px;
  opacity: 0.2;
  padding-left: 10px;
}

.catalog__all
{
  width: 1575px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 30px;
}

.catalog__item
{
  width: 290px;
  margin-left: 50px;
  margin-bottom: 90px;
  position: relative;
}

.catalog__item:hover .catalog__item__title
{
  padding-bottom: 24px;
  border-bottom: 2px solid #D62323;
}

[onclick]
{cursor:pointer}

.catalog__item__title
{
  font-family: $font-family-bold;
  font-weight: 600;
  color: $main-color-text;
  line-height: 21px;
  font-size: 18px;
  border-bottom: 1px solid $main-color-text;
  padding-bottom: 25px;
}

.weight
{
  color: $main-color-text;
  opacity: 0.3;
  margin-left: 10px;
}

.price
{
  font-family: $font-family-bold;
  font-weight: bold;
  line-height: 16px;
  font-size: 19px;
  float: right;
}

.catalog__item__link a
{
  width: 10px;
  height: 10px;
  margin-left: 280px;
  margin-top: -25px;
}
.catalog__item__link--active a
{
  margin-left: 230px;
  margin-top: -25px;
  text-decoration: none;
}

.catalog__item__link span
{
  font-family: $font-family-bold;
  font-weight: bold;
  line-height: 12px;
  color: #D62323;
  padding-right: 13px;
  padding-left: 13px;
}

.minus_icon
{
  position: relative;
  bottom: 3px;
}

.catalog__item__img
{
  height: 200px;
}

.catalog__item__description
{
  font-family: $font-family;
  line-height: 21px;
  font-size: 15px;
}

.catalog__item__description span
{
  font-family: $font-family-bold;
  font-weight: bold;
}

.catalog__mobile
{
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {


}

@media screen and (min-width: 320px) and (max-width: 767px) {

   .catalog__desktop
   {
     display: none;
   }

   .catalog__mobile
   {
     display: block;
   }
  .catalog__all
  {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0px;
  }

  .catalog__item
  {
    margin: 0 auto;
    padding-top: 40px;
  }

  .catalog__title
  {
    width: 320px;
    bottom: 0;
  }

  .catalog__title span
  {
    display: none;
  }

  .catalog__title sup
  {
    line-height: 20px;
    font-size: 18px;
    opacity: 0.2;
    padding-left: 0px;
    position: relative;
    bottom: 30px;
  }

  .order_mobile
  {
    border-top: 1px solid #E8EAED;
    margin-top: 50px;
  }

  .order_text
  {
    font-family: $font-family-bold;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #000;
  }

  .order_text span
  {
    color: #D62323;
  }
}
