.main_menu__list
{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-family: $font-family;
  color: $main-color-text;
  font-size: 15px;
  margin-left: 380px;
  margin-right: 380px;
}

.main_menu__item
{
  padding-left: 40px;
  position: relative;
  top: 10px;
}

.main_menu__item img
{
  position: relative;
  bottom: 18px;
}
