@import "variables.scss";
@import "blocks/normilize.scss";
@import "blocks/container.scss";
@import "blocks/page_header.scss";
@import "blocks/main_menu.scss";
@import "blocks/main_section.scss";
@import "blocks/second_menu.scss";
@import "blocks/catalog.scss";
@import "blocks/modal.scss";
@import "blocks/mobile_menu.scss";
@import "blocks/mobile_modal.scss";





@font-face {
    font-family: "TT-Norms-Bold";
    src: url('../fonts/TT-Norms/TTNorms-Bold.eot');
    src: local('TT Norms Bold'), local('TTNorms-Bold'),
        url('../fonts/TT-Norms/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TT-Norms/TTNorms-Bold.woff') format('woff'),
        url('../fonts/TT-Norms/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT-Norms-Medium';
    src: url('../fonts/TT-Norms/TTNorms-Medium.eot');
    src: local('TT Norms Medium'), local('TTNorms-Medium'),
        url('../fonts/TT-Norms/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TT-Norms/TTNorms-Medium.woff') format('woff'),
        url('../fonts/TT-Norms/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family:"TT-Norms";
    src: url('../fonts/TT-Norms/TTNorms-Regular.eot');
    src: local('TT Norms Regular'), local('TTNorms-Regular'),
        url('../fonts/TT-Norms/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TT-Norms/TTNorms-Regular.woff') format('woff'),
        url('../fonts/TT-Norms/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #fff;
    overflow-x:hidden
}
